<div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            Code: {{product.code}}
      </a>
      <a class="list-group-item list-group-item-action">Description: {{product.description}}</a>
      <a class="list-group-item list-group-item-action">Stock: {{product.stock}}</a>
      <a class="list-group-item list-group-item-action">Price: {{product.price}}</a>
      <a class="list-group-item list-group-item-action">Eatable?: {{product.eatable | eatable}}</a>
</div>