<div class="container">
      <main>
            <div class="col-md-7 col-lg-8">
                  <h4 class="mb-3">Update Container</h4>
                  <form [formGroup]="containerUpdateForm" class="needs-validation">
                        <div class="row g-3">
                              <div class="col-12">
                                    <label for="lastName" class="form-label">Mark</label>
                                    <input type="text" formControlName="mark"
                                          [ngClass]="{ 'is-invalid': form.mark.touched && form.mark.errors }"
                                          class="form-control" id="lastName" placeholder="" value="" required>
                                    <div *ngIf="form.mark.touched && form.mark.errors" class="invalid-feedback">
                                          <div *ngIf="form.mark.errors.required">Es requerido</div>
                                          <div *ngIf="form.mark.errors.maxlenght">maximo 30 caracteres</div>
                                    </div>
                              </div>
                              <div class="col-12">
                                    <label for="lastName" class="form-label">Lot</label>
                                    <input type="number" formControlName="lot"
                                          [ngClass]="{ 'is-invalid': form.lot.touched && form.lot.errors }"
                                          class="form-control" id="lastName" placeholder="" value="" required>
                                    <div *ngIf="form.lot.touched && form.lot.errors" class="invalid-feedback">
                                          <div *ngIf="form.lot.errors.required">Es requerido</div>
                                          <div *ngIf="form.lot.errors.max">99999 max</div>
                                    </div>
                              </div>
                        </div>


                        <hr class="my-4">
                        <button class="w-100 btn btn-warning btn-lg" type="button" [disabled]="containerUpdateForm.invalid"
                              (click)="updateContainer()">Update</button>
                  </form>
            </div>
      </main>
</div>
